@use 'variables';
@use 'typography';
@use 'schadcn';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
}

html {
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-content);
  font: var(--font-body-md);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

code, kbd, samp, pre {
  font-size: 0.9rem;
  font-family: 'JetBrains Mono', monospace;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

table {
  border-color: currentcolor;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

a, a:hover, a:active, a:visited, button {
  color: var(--color-content);
  text-decoration: none;
  transition: color var(--duration-default), border var(--duration-default), background var(--duration-default);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.interactive {
  &:hover {
    background-color: var(--color-btn-inner-hover-bg);
    border: var(--color-btn-inner-hover-border);
  }

  &:focus {
    background-color: var(--color-btn-inner-selected-bg);
    border: var(--color-btn-inner-selected-border);
  }
}

.no-drag-no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

pre code.hljs {
  @apply rounded-lg
}
